@import './variables';

.splash-screen {
  @include fullScreen();
  @include splashStyle();
  align-items: center;
  // animation: ease-in-out infinite alternate;
  // animation-name: fade;
  // animation-duration: 3s;
  display: flex;
  flex-direction: column;
  font-family: $mainFont;
  font-size: 12vw;
  height: 100vh;
  justify-content: center;
  width: 100%;
  .loading-dot{
    animation: ease-in-out infinite alternate;
    animation-name: run;
    animation-duration: 1.2s;
    font-size: 100px;
    margin-top: 100px;
    position: relative;
  }
}

// @keyframes fade {
//   0% {
//     background: $pageBG;
//   }
//   50% {
//     background: $accentColor;
//   }
//   100% {
//     background: $pageBG;
//   }
// }

@keyframes run {
  0% {
    left: -200px;
    color: #eee;
  }
  50% {
    color: #666;
  }
  100% {
    left: 200px;
    color: #eee;
  }
}