// Colors
$splash: #3b0404;
$accentColor: #2c0505;
$pageBG: #694747;
$textColor: #c0c0c0;

// Text
$mainFont: Georgia, 'Times New Roman', Times, serif;;

@mixin fullScreen {
  display: flex;
  height: 100vh;
  width: 100vw;
}

@mixin splashStyle {
  background: $splash;
  color: $textColor;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}